

.header {
    background-color: var(--bg-header);
    position: relative;
    z-index: 1;

    .container {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        min-height: 80px;
        @media screen and (max-width: 475px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }
    }
}