

.contactsBlock{
    min-height: 100vh;
    background-color: antiquewhite;


}

.contactsContainer{

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;


}

.title{
    border: 1px solid;
    background-color: gray;
    margin: 10px 0;
}

.contactsForm{
    border:1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;


}

.contactsForm input{
    margin-bottom: 5px;



}

.button{
    margin-top: 15px;
    padding: 7px 25px;
    border:1px solid;
    font-size: 16px;


}