

.worksBlock{
    min-height: 100vh;
    background-color: coral;


}



.worksContainer{

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;


}

.title{
    border: 1px solid;
    background-color: gray;
    margin: 10px 0;
}

.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}