

.main {
    min-height: calc(100vh - 80px);
    //height: calc(100vh - 80px);

    //min-height: 100vh;
    color: var(--color-text);

    padding-top: 20px;
    @media screen and (min-width: 860px) {
        min-height: 100vh;

    }

    .mainContainer {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        @media (max-width: 997px) {
            justify-content: center;
        }
    }

    h1, h2 {
        font-size: 3.125rem;
        font-weight: 700;
        padding: 10px 0;
    }

    p {
        font-size: 18px;
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        a {
            text-decoration: underline;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .photo {
        flex: 0 1 320px;
        height: 400px;
        transition: all .3s ease-in-out;
        background-image: url('../assets/image/denis.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media (max-width: 997px) {
            margin-top: 25px;
        }

    }

}

