@import "src/common/styles/sass/variables";

@mixin text( $fontSize, $lineHeight, $fontWeight, $color){
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $color;
}


@mixin position($position:initial, $top: initial, $right: initial, $bottom: initial, $left: initial,) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin user-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

$maxWidth: 1140;
@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}