
.footerBlock {
    /*min-height: 230px;*/
    padding: 10px 0;
    background-color: cadetblue;


}

.footerContainer {

    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;


}

.title {
    border: 1px solid;
    background-color: gray;
    margin: 10px 0;
}

.footerIcon {
    height: 50px;
    width: 280px;
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.icon {
    width: 50px;
    height: 50px;
    background-color: gray;
    text-align: center;
}

.copyright {
    margin-top: 25px;

}

